<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">
            jdbc:mysql://aa1cn3gfajee4lg.cc1rijt3nzv9.us-west-1.rds.amazonaws.com:3306/ebdb
        </property>
        <property name="connection.username">lmdevo</property>
        <property name="connection.password">4SCWRLKJ3968UL8Y</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>


        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.autocommit">false</property>

        <!-- Persistence Models using the annotation based mapping -->
        <mapping class="com.longmendelivery.persistence.entity.AppUserEntity"/>
        <mapping class="com.longmendelivery.persistence.entity.OrderEntity"/>
        <mapping class="com.longmendelivery.persistence.entity.AppUserActionHistoryEntity"/>
        <mapping class="com.longmendelivery.persistence.entity.CourierServiceEntity"/>
        <mapping class="com.longmendelivery.persistence.entity.OrderStatusHistoryEntity"/>
        <mapping class="com.longmendelivery.persistence.entity.ShipmentEntity"/>


    </session-factory>
</hibernate-configuration>